
h1 {
    
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
    color:rgb(255, 255, 255);
    line-height: 1;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 0px; 
}

h2 {
    font-family: 'Amatic SC', Regular;
    color:rgb(255, 255, 255);
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 100px;
}

h3 {
    font-family: 'Amatic SC', Regular;
    color:rgb(255, 255, 255);
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.titleDescription {
    font-family: 'Bangers', cursive;
    font-size: 70px;
    letter-spacing: 5px;
    text-align: center;
    color:rgb(255, 255, 255);
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: -10px;
}

.description {
    font-family: 'Amatic SC', Regular;
    font-size: 30px;
    text-align: center;
    color:rgb(255, 255, 255);
    margin-top: 14px;
    margin-left: 30px;
}

.center {
    text-align: center;
}

.medium {
    font-size: 30px;
}

.large {
    font-size: 90px;
}

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#stage {
    object-position: center;

}

main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:100%;
    text-align: center;
    object-position: center;

}

.buttonBack {
    font-family: 'Amatic SC', Bold;
    background-color: #000000;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
}

.buttonBack:hover {
    background-color: #000000;
    color: rgb(73, 73, 73);
}

.imageHome {
    width:300px;
    margin-bottom: 70px;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    transition: transform .2s;
}

.imageHome:hover {
    -webkit-filter: grayscale(0);
    filter: none;
    transform: scale(1.05);
}

.divGrid {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

#bilder { 
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly; 
}